body
{
	font-family: sans-serif;
}

body > header, body > footer
{
	clear: both;
	display: block;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}

body > header {
	text-align: right;
	
	margin-bottom: 10px;
}

body > header h1 a
{
	color: #F9A328;
	text-decoration: none;
}

body > header h1
{
	font-size: 2.5em;
	margin: 0;
	padding: 0;
}

body > header h2
{
	font-size: 1em;
	margin: 0;
	padding: 0;
}

body > footer {
	padding: 7px;
	border: 1px dotted #a9a9a9;
	font-size: 9px;
	text-align: center;
}

footer a {
	color: black;
}

/* === MENU === */

nav {
	display: block;
}

body > header nav
{
	padding: 5px;
	background-color: #FCBA5C;
	background-image: -moz-linear-gradient(#FCBA5C, #F9A328);
	margin-top: 10px;
	height: 1.2em;
}

header nav .navigation-left
{
	float: left;
}

header nav .navigation-right
{
	float: right;
}

#main
{
	width: 900px;
	
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

#content
{
	margin-left: 170px;
}

h1, h2, h3, h4, h5, h6
{
	margin: 0;
	padding: 0;
}

h1, h2, h1 a, h2 a
{
	color: #F9A328;
	text-decoration: none;
}

.notice, .error, .warning
{
	padding: 10px;
	border: dotted 1px #F9A328;
	font-size: 80%;
	width: 80%;
	margin-left: 10%;
	margin-bottom: 10px;
}

.notice
{
	background-color: #FCBA5C;
}

.error
{
	background-color: #FC6B5D;
}

.warning
{
	background-color: #EFA32B;
}

#content p
{
	text-align: justify;
}

#main a
{
	color: black;
}

#main a:hover
{
	color: #F9A328;
}

article header h1
{
	font-size: 1.4em;
}

article.fullpage header h1
{
	font-size: 2em;
}

article header p
{
	margin: 0;
	padding: 0;
}

article header
{
	display: block;
	margin-bottom: 10px;
}

article footer
{
	margin-top: 10px;
	display: block;
}


article
{
	display: block;
	border-bottom: dashed 1px #666666;
	padding: 10px 0px;
	text-align: justify;
}

article.fullpage {
	padding: 0;
	border: none;
}

article.fullpage header {
	border-bottom: dashed 1px #666666;
	padding-bottom: 5px;
}

article.fullpage > p:first-of-type {
	margin-top: 4px;
}

article:last-of-type
{
	border-bottom: none;
}

aside {
	width: 150px;
	float: left;
	overflow: hidden;
}

section {
	display: block;
}

aside h1 {
	font-size: 1.2em;
}

aside h2 {
	font-size: 1.1em;
}

aside h3, aside h4, aside h5, aside h6 {
	font-size: 1.0em;
}

#main aside {
	margin-bottom: 10px;
}

/* === FORMS === */
label {
	display: block;
}

label.required {
	font-weight: bold;
}

input, textarea, .editor, select {
	border: solid 1px #666666;
	font-size: 1em;
	margin-bottom: 10px;
}

input[readonly] {
	background-color: #BBB;
	color: #666;
}

select {
	font-size: 10px;
	padding: 3px;
}

label.select {
	display: inline;
	margin-right: 10px;
}

input.title {
	font-size: 160%;
	width: 100%;
}

textarea {
	width: 600px;
	height: 200px;
	display: block;
}

textarea.hide {
	display: none;
	margin: 0;
	padding: 0;
	border: none;
}

.editor {
	height: 400px;
	overflow: auto;
}

textarea[cols] { /* Respect the cols factor */
	width: auto;
}

textarea[rows] { /* Respect the rows factor */
	height: auto;
}

input:focus, textarea:focus {
	border: solid 1px #FCBA5C;
}

input[readonly]:focus {
	border: solid 1px #666666;
}

input[type="submit"] {
	border: dotted 1px #F9A328;
	background-image: -moz-linear-gradient(#FCBA5C, #F9A328);
}

input[type="submit"]:active {
	background-image: -moz-linear-gradient(#F9A328, #FCBA5C);
}

fieldset {
	margin-bottom: 10px;
	border: solid 1px #555;
}

/* === ASIDE Forms === */
aside label {
	font-size: 0.8em;
	padding: 0;
	margin: 0;
	line-height: 0.8em;
}

aside input {
	font-size: 0.6em;
	margin-bottom: 6px;
	max-width: 140px;
}

/* Button urls, urls */

.normal-post-url {
	display: inline;
}

.normal-post-url button {
	background-color: transparent;
	padding: 0;
	border: none;
	vertical-align: top;
}

.normal-post-url button:hover {
	cursor: pointer;
	color: #F9A328;
}

.normal-post-url button img {
	vertical-align: top;
}

button {
	vertical-align: middle;
}

a img {
	border: none;
	vertical-align: top;
}

.page-actions, .section-actions {
	float: right;
}

.page-actions a {
	text-decoration: none;
}

.page-actions form {
	display: inline;
}

.page-actions form button {
	background-color: transparent;
	border: none;
	padding: 0;
	margin: 0;
}

.page-actions form button:hover {
	cursor: pointer;
}

.twowaypager .next {
	float: right;
}

.twowaypager .prev {
	float: left;
}

.twowaypager {
	list-style-type: none;
	margin: 5px 0px;
	padding: 0;
	height: 1em;
}

.pager {
	list-style-type: none;
	margin: 15px 0px;
	padding: 0;
	width: 100%;
	text-align: center;
	font-size: 12px;
}

.pager a, .pager .gap {
	text-decoration: none;
	padding: 3px 6px;
	border: dotted 1px #333;
}

.pager li {
	display: inline;
	margin: 5px;
}

.pager .current a {
	background-color: #999;
}

.pager a:hover {
	background-color: #aaa;
	color: black !important;
}

/* WYSIWYG editor */
.toolbar {
	margin-bottom: 4px;
}

.toolbar button {
	background-color: transparent;
	border: none;
	border: solid 1px #999;
	padding: 2px;
	margin-right: 5px;
}

.toolbar button:hover {
	background-color: #777;
	cursor: pointer;
} 

.toolbar button img {
	vertical-align: middle;
}

.toolbar select {
	margin: 0;
	margin-right: 5px;
}

#bigasspopup {
	background-color: white;
	border: 5px solid #444;
	padding: 10px;
	position: fixed;
	top: 50%;
	right: 50%;
	-moz-box-shadow: 4px 4px 8px;
}

